<!DOCTYPE html>
<html>
<head>
    <title>Show Products</title>
</head>
<body>

<h2>All Products</h2>

<table border="5" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Color</th>
        <th>Gender</th>
        <th>Quality</th>
        <th>Price</th>
        <th>Category</th>
        <th>delete</th>
        <th>edit</th>


    </tr>

    {% for i in data %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.color }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.quality }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.category }}</td>
        <td><a href="{% url 'delete' pk=i.id %}"><button>delete</button></a> </td>
        <td><a href="{% url 'total' pk=i.id %}"><button>total</button></a> </td>

    </tr>
    {% endfor %}

</table>

</body>
</html>